@import './variables.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, sans-serif;
  line-height: 1.5;
  color: $textColor;
  background-color: $whiteColor;
}

.main {
  min-height: 100vh;
  padding: 2rem 0;
  background-color: $mainBgColor;
}

.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
}

.row {
  display: flex;
  gap: 1rem;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.h-full {
  height: 100%;
}

.flex-1 {
  flex: 1;
}

.justify-between {
  justify-content: space-between;
}

.card {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  flex-wrap: wrap;
  padding: 1rem;
  border: 2px solid $Gray1Color;
  background-color: $whiteColor;

  &__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.3rem 1rem;
  }

  &--200 {
    width: 300px;
    max-width: 300px;
  }
}
